.table
  .table-row
    .table-cell.sidebar
      %h1
        Atlanta Sidewalk Assessment
      %p.alert-message.block-message#tagline
        View the state of Atlanta's sidewalks. Currently in pilot.
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
      #logos
        #col1
          %h2
            A project of
          %a{:href => "http://www.codeforatlanta.org/"}
            = image_tag "logos/code-for-atlanta.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa"), :width => 200
          %br
    .table-cell.map-container
      #map
        &nbsp;
